/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* LEYOUT */

.flex-container {
    display: flex;
    width: 40%;
    align-items: center;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: aqua;
    height: 40px;
    align-items: center;
    display: flex;
}


.menu{
    justify-content: space-between;
    background-color: yellow;
    align-items: center;
}


li {
    display: inline;
    list-style-type: none;
}
.hero{
    background-color: blue;
    height: 120px;
    padding: 20px;
}

.hero-content {
    margin: 0 auto;
    background-color: pink;
    width: 80%;
    
}

/* MAIN */
/* Stats section */